 * {
            margin: 0;
            padding: 0;
        }

        .conten {
            height: 800px;
        }

        .slide {
            width: 15%;
            float: left;
        }

        .tuijian .slide {
            float: left;
            width: 20%;
            height: 800px;
            background-color: #2a3542;
        }

        .tuijian ul {
            width: 100%;
            padding-bottom: 10px;
            text-align: center;
        }
        

        .slide li {
            height: 70px;
            float: none;

        }
        
        .con {
            float: right;
            width: 80%;
        }
        .guanli{
            margin: 100px;
        }
        .nav h3{
            height: 90px;
            text-align: center;
            line-height:90px;
            margin-left:20px;
        }
        
       